<div class="row">
  <!--left column-->
  <div id="left_col" class="col-md-9 col-lg-9 col-sm-12">
    <div class="row">
      <div class="col-md-5">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= image_tag "s1.jpg" %>
              <div class="carousel-caption">
                about 1st img
              </div>
            </div>
            <div class="item">
              <%= image_tag "s2.jpg" %>
              <div class="carousel-caption">
                about 2nd img
              </div>
            </div>
            <div class="item">
              <%= image_tag "s3.jpg" %>
              <div class="carousel-caption">
                about 3thd img
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col-md-7">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">气象新闻</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <a href="#">some test</a>
            </li>
            <li class="list-group-item">
              <a href="#">some test</a>
            </li>
            <li class="list-group-item">
              <a href="#">some test</a>
            </li>
            <li class="list-group-item">
              <a href="#">some test</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- second row-->
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <ul id="news_tabs" class="nav nav-tabs">
          <li role="presentation" class="active">
            <a id="qxxw_tab" href="#qxxw">气象要闻</a>
          </li>
          <li role="presentation"><a href="#">气象动态</a></li>
          <li role="presentation"><a href="#">天气头条</a></li>
        </ul>
        <div id="tab_contents" class="tab-content">

        </div>
      </div>
    </div>

  </div>

  <!--right column-->
  <div id="right_col" class="col-md-3 col-lg-3 hidden-sm">
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">气象灾害预警信号</h3>
        </div>
        <div class="panel-body">
          雷电黄色预警
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">天气预报</h3>
        </div>
        <div class="panel-body">
          今晚到明天晴天多云，温度20-30℃，偏北风2-3级。
        </div>
      </div>
    </div>
  </div>

</div>